
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
           
                <!-- <a class="navbar-brand" href="#page-top">S-Mart</a> -->
                <a href="#page-top"><img class="logo-img" src="/public/Aishwarya/Shoppage/images/S-Mart-logos.jpeg" width="90" height="90" ALT="align box"></a>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">              
                      <li class="nav-item"><a class="nav-link" href="/shop/allProduct">Product List</a></li>
                      <li class="nav-item"><a class="nav-link" href="/users/profiledetail">Profile</a></li>
                        
                        <li class="nav-item"><a class="nav-link" href="/users/logout">Logout</a></li>
                    </ul>
                </div>
           
        </nav>


</section>
          
   <section class="u-clearfix u-grey-10 u-section-1" id="sec-42f4">
  {{#if allShop}}
      <div class="u-clearfix u-sheet u-sheet-1">
         
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
             {{#each allShop}}
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                                <a href="/users/{{../userId}}/shop/{{this._id}}" class="u-btn u-button-style u-palette-3-base u-btn-1">{{this.ShopName}}</a>

                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
                                <p class="u-text u-text-1">Overallrating:  {{this.overallRating}}</p>

 <p>{{this.Address}} {{this.pincode}} </p>
      
                {{!-- <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="1920" data-image-height="1284" src="images/grocery-g3cce4b8fe_1920.jpg"> --}}
              </div>
            </div>
  {{/each}}

  {{!-- {{else}}
<h4>No Shop available With Good Deal</h4> --}}
   {{/if}}
            </div>
          </div>
        </div>
       
      </div>
       
    </section>


         <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">​Throwing away food is like stealing from the table of those who are poor and hungry. - Pope Francis</p></div>
        </footer>

