 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
           
                <!-- <a class="navbar-brand" href="#page-top">S-Mart</a> -->
                <a href="#page-top"><img class="logo-img" src="/public/Aishwarya/Shoppage/images/S-Mart-logos.jpeg" width="90" height="90" ALT="align box"></a>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">              
                        <li class="nav-item"><a class="nav-link" href="/users/profiledetail">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/users/logout">Logout</a></li>
                        <li class="nav-item"><a class="nav-link" href="/users/{{id}}/allshop">All Shop List</a></li>

                    </ul>
               
            </div>
        </nav>



<section>
  <article class = "User Profile">
  <div class="container mt-5">
   
        <p class = "Signup-heading" style="font-family:Georgia; color: brown; font-size: 60px;">
            User Profile
        </p>
  
     <div class="row">
    <div class="col-sm-8">
    <div class="card">
    <div class="card-body"> 
     <form action="/users/updateprofile" id="see_form" method="GET">

    <label for="userfirstname" ><b style="font-family:Georgia; color: brown; font-size: 20px;">Firstname</b></label>
    <label for="userfirstname" ><input type="text" name="firstname" id="userfirstname"  value="{{firstName}}"  readonly></label>
    <br>
    <label for="userlastname" style="font-family:Georgia; color: brown; font-size: 20px;"><b>Lastname</b></label>
    <label for="userlastname" ><input type="text" name="lastname" id="userlastname" value="{{lastname}}"  readonly></label>
    <br>
    <label for="useraddress" style="font-family:Georgia; color: brown; font-size: 20px;"><b>Address</b></label>
    <label for="useraddress" ><input type="text" name="address" id="useraddress" value="{{address}}"  readonly></label>
    <br>
    <label for="usercity" style="font-family:Georgia; color: brown; font-size: 20px;"><b>City</b></label>
    <label for="usercity" ><input type="text" name="city" id="usercity" value="{{city}}" readonly></label>
    <br>
    <label for="userzipcode" style="font-family:Georgia; color: brown; font-size: 20px;"><b>Zipcode</b></label>
    <label for="userzipcode" ><input type="text" name="zipcode" id="userzipcode" pattern="[0-9]{5}" value="{{zipcode}}" readonly></label>

    <p style="font-family:Georgia; color: brown; font-size: 20px;"><button type="submit" name="editbtn" id="editbtn">Click here to update</button></p>
   </form>
  </div>
    </div>
    </div>
    </div>
    </div>
  
  </article>
 </section>
 
 
       <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">​Throwing away food is like stealing from the table of those who are poor and hungry. - Pope Francis</p></div>
        </footer>